/* Code for resetting CSS */

    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* End of resetting CSS */

/* The code which follow is to exclude margins in the computation of lenghts */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(57, 100, 62);
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 1rem;
    font-family: monospace, sans-serif;
    letter-spacing: .03rem;
}

li {
    padding-bottom: 0.5rem;
}

p {
    font-size: 2rem;
    font-family: "Ubuntu", arial, sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

a {
    color: rgb(57, 100, 62);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Classes */
.calc-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(80, 80, 80);
    justify-content:space-evenly;
    align-items: center;
}

.calc-specs {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(45, 45, 45);   
    box-shadow: 15px 15px 1px 5px rgba(45, 45, 45, 0.5);
    color:rgb(255, 255, 255);
    padding: 1em;
    position: relative;    
    top: -22vh;

}

.calc-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    min-width: 380px;
    height: 70vh;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(45, 45, 45);   
    box-shadow: 15px 10px 1px 5px rgba(45, 45, 45, 0.5); 
}

.top-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.top-btn {
    width: 45%;
    height: 90%;
}

/* IDs */

#display {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    background-color: rgb(57, 100, 62);
    border: 0px solid black;
    box-shadow: inset 0px 0px 3px 4px rgba(192, 192, 192, 0.651);
    width: 90%;
    height: 12%;
    padding: 0.5rem;
    color:rgba(255, 255, 255, 0.6);
    font-family: "Quantico", Arial, Helvetica, sans-serif;
    font-size: 28px;
}

#btn-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "seven eight nine divide"
                         "four five six multiply"
                         "one two three subtract"
                         "zero point equal add";
    gap: 0.2rem;
    width: 90%;
    height: 70%;
}

#bksp-btn {
    font-size: 1.4rem;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#add {
    grid-area: add;
}

#subtraction {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#point {
    grid-area: point;
}

#equal-btn {
    grid-area: equal;
}